.App {
  text-align: center;
}

.shape-area {
  position: relative;
  width: 500px;
  height: 600px;
  border: 2px solid black;
 }
 
 .shape-area-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
 }
 
 .shape {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .circle {
  border-radius: 50%;
  background-color: red;
 }
 
 .triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid blue;
 }
 
 .square {
  background-color: green;
 }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
